@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary;
}
input:focus {
  outline: 2px solid #262626;
}
textarea:focus {
  outline: 2px solid #262626;
}
option {
  font-family: 'sans-serif';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}
.contactIcon:hover {
  fill: #f2f735;
}
